<FilesMatch "\.inc$">
order deny,allow
allow from all
</FilesMatch>
RewriteEngine On
RewriteBase /medinet
RewriteRule ^page/([0-9]+)$                        /medinet/index.php?page=page&pageid=$1&pagestart=0                    [QSA,L]
RewriteRule ^page/([0-9]+)/([0-9]+)$               /medinet/index.php?page=page&pageid=$1&pagestart=$2                    [QSA,L]
RewriteRule ^artikel/([0-9]+)$                     /medinet/index.php?page=artikel&artikel_id=$1&artikel_part=1                    [QSA,L]
RewriteRule ^artikel/([0-9]+)/([0-9]+)$            /medinet/index.php?page=artikel&page_id=$1&artikel_id=$2&artikel_part=1                    [QSA,L]
RewriteRule ^artikel/([0-9]+)/([0-9]+)/([0-9]+)$   /medinet/index.php?page=artikel&page_id=$1&artikel_id=$2&artikel_part=$3                    [QSA,L]
RewriteRule ^artikel/([0-9]+)/print$               /medinet/index.php?page=artikelprint&artikel_id=$1                    [QSA,L]
RewriteRule ^artikel/([0-9]+)/([0-9]+)/print$      /medinet/index.php?page=artikelprint&page_id=$1&artikel_id=$2                    [QSA,L]
RewriteRule ^author/([0-9]+)$                      /medinet/index.php?page=author&autor_id=$1                    [QSA,L]
RewriteRule ^bild/([0-9]+)$                        /medinet/index.php?page=bilder&typ=single&img_id=$1                    [QSA,L]
RewriteRule ^bilder/([0-9]+)$                      /medinet/index.php?page=bilder&typ=&img_typ_id=$1                    [QSA,L]
RewriteRule ^bilder/([0-9]+)/([0-9]+)$             /medinet/index.php?page=bilder&typ=&img_typ_id=$1&image_id=$2                   [QSA,L]
RewriteRule ^bilder/([0-9]+)/([0-9]+)/([0-9]+)$    /medinet/index.php?page=bilder&typ=&img_typ_id=$1&image_id=$2&img_typ_anfang=$3                   [QSA,L]
RewriteRule ^blog/([0-9]+)$                        /medinet/index.php?page=blog&blog_id=$1                    [QSA,L]
RewriteRule ^blog/([0-9]+)/([0-9]+)$               /medinet/index.php?page=blog&blog_id=$1&blog_cat=$2                    [QSA,L]
RewriteRule ^blog/([0-9]+)/([0-9]+)/([0-9]+)$      /medinet/index.php?page=blog&blog_id=$1&archiv_j=$2&archiv_m=$3                  [QSA,L]
RewriteRule ^downloads/([0-9]+)$                   /medinet/index.php?page=downloads&typ=&download_typ_id=$1                    [QSA,L]
RewriteRule ^downloads/([0-9]+)/([0-9]+)$          /medinet/index.php?page=downloads&typ=&download_typ_id=$1&download_id=$2                    [QSA,L]
RewriteRule ^download/([0-9]+)$                    /medinet/index.php?page=downloads&typ=single&download_id=$1                    [QSA,L]
RewriteRule ^termine/([0-9]+)$                     /medinet/index.php?page=termine&id=$1                    [QSA,L]
RewriteRule ^urls/([0-9]+)$                        /medinet/index.php?page=urls&url_typ_id=$1                    [QSA,L]
RewriteRule ^urls/([0-9]+)/([0-9]+)$               /medinet/index.php?page=urls&url_typ_id=$1&url_id=$2                    [QSA,L]
RewriteRule ^url/([0-9]+)$                         /medinet/index.php?page=urls&url_id=$1    
RewriteRule ^sitemap/([0-9]+)$                     /medinet/index.php?page=sitemap&id=$1    
RewriteRule ^search$                               /medinet/index.php?page=search 